* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url"https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fmanagement-system&psig=AOvVaw3heZ4E1xZU4OaIEnetHQ5C&ust=1721370363100000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKjLtsL6r4cDFQAAAAAdAAAAABAE";
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #555;
}

.signup-link {
    margin-top: 1rem;
    text-align: center;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 1rem;
    }

    .login-form h2 {
        font-size: 1.5rem;
    }
}
